body {
  margin: 0px;
  background: #000;
  font-family: 'Roboto', sans-serif;
}


.header {
  background-color: #000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 200px;
  margin: 10px 0 0 10px;
}

.header__menu {
  margin-right: 40px;
}

.header__menu ul{
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100px;
  margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover{
  display: block;
}

.header__menu li{
  margin: 10px 0;
}

.header__menu li a {
  color: #fff;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  margin-right: 8px ;
  display: flex;
  align-items: center;

}

.header__menu--profile img {
  margin-right: 8px;
  height: 40px;
}

.header__menu--profile p{
  margin: 0px;
  color: #fff;
}